@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: bp-large) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: bp-medium) {
  html {
    font-size: 30%;
  }
}

body {
  background: linear-gradient(to right bottom, #DB2777, #BE185D);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #9CA3AF;
}

body {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.logo {
  height: 3.5rem;
  margin-left: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .logo {
    height: 2.5rem;
    margin-left: 2.5rem;
  }
}

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    margin-top: .5rem;
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #F9FAFB;
  border: none;
  padding: .7rem 3rem;
  border-radius: 100px;
  margin-right: -3.5rem;
  width: 90%;
  transition: all .2s;
}

@media only screen and (max-width: 56.25em) {
  .search__input {
    width: 80%;
  }
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #F9FAFB;
}

.search__input::-webkit-input-placeholder {
  font-weight: 200;
  font-size: 1.5rem;
  color: #9CA3AF;
}

.search__button {
  background-color: #F9FAFB;
  border: none;
  padding: 0 0;
}

.search__button:focus {
  outline: none;
  background-color: #F9FAFB;
}

.search__button:active {
  transform: translateY(2px);
}

.search__input:focus + __button {
  background-color: #F9FAFB;
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #4B5563;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
}

.user-nav > *:hover {
  background: #F9FAFB;
}

.user-nav__icon-box {
  display: flex;
  align-items: center;
  position: relative;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #9CA3AF;
}

.user-nav__notification {
  background: #EC4899;
  font-size: .8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.user-nav__user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 56.25em) {
  .user-nav__user-photo {
    height: 2.75rem;
  }
}

.review {
  background: #F9FAFB;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.06);
  margin-bottom: 3.35rem;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}

.review__text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}

.review__user {
  display: flex;
  gap: 1rem;
}

.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .4rem;
}

.review__user-date {
  font-size: 1rem;
  color: #4B5563;
}

.review__rating {
  color: #DB2777;
  font-size: 2.2rem;
  font-weight: 300;
}

.review::before {
  content: "\201C";
  position: absolute;
  line-height: 1;
  font-family: sans-serif;
  top: -2rem;
  left: -0.5rem;
  font-size: 13rem;
  color: #D1D5DB;
  z-index: 1;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}

.cta__book-now {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 56.25em) {
  .cta__book-now {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-size: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right bottom, #EC4899, #BE185D);
  text-align: center;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all .2s;
}

.btn__visible {
  padding: 2rem 7.5rem;
}

.btn__invisible {
  position: absolute;
  padding: 2rem 0;
  left: 0;
  top: -100%;
}

.btn:hover .btn__visible {
  transform: translateY(100%);
}

.btn:hover .btn__invisible {
  top: 0;
}

.btn-inline {
  outline: none;
  border: none;
  border-bottom: 1px solid #DB2777;
  color: #DB2777;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #DB2777;
  cursor: pointer;
  transition: all .2s;
}

@media only screen and (max-width: 56.25em) {
  .btn-inline {
    font-size: 1.1rem;
  }
}

.btn-inline:hover {
  color: #000;
  animation: pulSate 0.9s infinite;
}

.btn-inline:focus {
  outline: none;
}

@keyframes pulSate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background: #F9FAFB;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.content {
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  flex: 0 0 18%;
}

.hotel-view {
  flex: 1;
}

.hotel-view .gallery {
  display: flex;
}

.hotel-view .gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #D1D5DB;
  background: #fff;
}

@media only screen and (max-width: 56.25em) {
  .overview {
    gap: 0.5rem;
  }
}

.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}

@media only screen and (max-width: 56.25em) {
  .overview__heading {
    padding: 1rem;
    font-size: 1.25rem;
  }
}

.overview__stars {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.overview__stars-icon, .overview__location-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: #DB2777;
}

.overview__location {
  display: flex;
  align-items: center;
}

.overview__location-icon {
  margin-right: 0.4rem;
}

.overview__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  text-align: center;
  padding: 0 2.25rem;
  background: #DB2777;
  color: #F9FAFB;
  justify-content: center;
}

@media only screen and (max-width: 56.25em) {
  .overview__rating {
    padding: 0 0.25rem;
  }
}

.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
}

@media only screen and (max-width: 56.25em) {
  .overview__rating-average {
    font-size: 1.5rem;
  }
}

.overview__rating-count {
  font-size: 1.2rem;
  margin-top: -3px;
}

@media only screen and (max-width: 56.25em) {
  .overview__rating-count {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.detail {
  font-size: 1.4rem;
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  background: #F9FAFB;
  border-bottom: 1px solid #D1D5DB;
}

@media only screen and (max-width: 56.25em) {
  .detail {
    flex-direction: column;
    padding: 2.5rem;
  }
}

.description {
  flex: 0 0 60%;
  font-size: 1.4rem;
  background: #F9FAFB;
  padding: 3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

.description .paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.description .list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  border-top: 1px solid #D1D5DB;
  border-bottom: 1px solid #D1D5DB;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 56.25em) {
  .description .list {
    padding: 1rem 0;
  }
}

.description .list__item {
  flex: 0 0 50%;
  margin-bottom: .7rem;
}

@media only screen and (max-width: 56.25em) {
  .description .list__item {
    flex: none;
  }
}

.description .list__item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .7rem;
  /*
                background-image: url(../../img/chevron-thin-right.svg);
                background-size: cover;
                */
  background-color: #DB2777;
  mask-image: url(../../img/chevron-thin-right.svg);
  mask-size: cover;
  -webkit-mask-image: url(../../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
}

.recommend {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .recommend {
    gap: 1rem;
    flex-direction: column;
  }
}

.recommend__count {
  margin-right: auto;
}

@media only screen and (max-width: 56.25em) {
  .recommend__count {
    margin: 0;
  }
}

.recommend__friends {
  display: inline-block;
}

.recommend__photo {
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid #fff;
}

.recommend__photo:not(:last-child) {
  margin-right: -2rem;
}

@media only screen and (max-width: 56.25em) {
  .recommend__photo:not(:last-child) {
    margin: 0;
  }
}

.user-reviews {
  flex: 1;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .user-reviews {
    flex: 1;
    display: flex;
  }
}

.header {
  height: 7rem;
  background: #fff;
  border-bottom: #D1D5DB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .header {
    flex-wrap: wrap;
    align-content: space-around;
    height: 7rem;
  }
}

.sidebar {
  background: #111827;
  font-size: 1.4rem;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  .sidebar {
    padding-top: 0;
  }
}

.sidebar .side-nav {
  list-style: none;
}

@media only screen and (max-width: 56.25em) {
  .sidebar .side-nav {
    display: flex;
  }
}

.sidebar .side-nav__item {
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .sidebar .side-nav__item {
    flex: 1;
  }
}

.sidebar .side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 56.25em) {
  .sidebar .side-nav__item:not(:last-child) {
    margin: 0;
  }
}

.sidebar .side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: #DB2777;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.sidebar .side-nav__item:hover::before, .sidebar .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.sidebar .side-nav__item:active::before {
  background-color: #EC4899;
  color: #fff;
}

.sidebar .side-nav__link, .sidebar .side-nav__link:visited {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 56.25em) {
  .sidebar .side-nav__link, .sidebar .side-nav__link:visited {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1rem 0;
  }
}

.sidebar .side-nav__icon {
  fill: currentColor;
  margin-right: 3rem;
  width: 1.75rem;
  height: 1.75rem;
}

@media only screen and (max-width: 56.25em) {
  .sidebar .side-nav__icon {
    margin-right: 0;
    margin-bottom: .7rem;
  }
}

.sidebar .legal {
  font-size: 1.4rem;
  color: #F9FAFB;
  text-align: center;
  padding: 2.5rem;
}

@media only screen and (max-width: 56.25em) {
  .sidebar .legal {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */