@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');




* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;  //1rem = 10pixel , 10px /16 = 62.5%


    @media only screen and (max-width: bp-large) {
            font-size: 50%;  //1rem = 8pixel , 16px/8 = 62.5%
    }
    @media only screen and (max-width: bp-medium) {
            font-size: 30%;  //1rem = 8pixel , 16px/8 = 62.5%
    }
    
}

body {
    background: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    color: $color-grey-dark;
}