// COLORS
$color-primary: 
#DB2777;
$color-primary-light: 
#EC4899;
$color-primary-dark: 
#BE185D;

$color-secondary-light: #7C3AED;
$color-secondary-dark: 
#5B21B6;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: 
#F9FAFB;
$color-grey-light-2: 
#D1D5DB;

$color-grey-dark: #9CA3AF;
$color-grey-dark-1: #6B7280;
$color-grey-dark-2: #4B5563;
$color-grey-dark-3: #374151;
$color-grey-dark-4:#1F2937;
$color-grey-dark-5: #111827;

$color-white: #fff;
$color-black: #000;

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //1100px

// shadow
$shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;